body{
    background: linear-gradient(120deg, #f6f7fb, #eef1f7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart-container{
    max-width: 1050px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 36px;
}

.cart-item{
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 80px 1fr auto;
    align-items: center;
    gap: 20px;
    margin-bottom: 18px;
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-container:hover{
    transform: translateY(-3px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.12);
}

.cart-item img{
    width: 80px;
    height: 80px;
    border-radius: 14px;
    object-fit: cover;
}

.cart-item h4{
    font-size: 18px;
    margin-bottom: 6px;
}

.cart-item p{
    color: #555;
    font-size: 14px;
}

.cart-summary{
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    border-radius: 22px;
    padding: 26px;
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.01);
}

.cart-summary h3{
    text-align: center;
    margin-bottom: 22px;
    font-size: 22px;
}

.checkout-btn{
    width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, rgb(187, 103, 103), rgb(160, 70,70));
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3 ease;
}

.checkout-btn:hover{
    opacity: 0.9;
}