* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#login-form, #signup-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 20px;
    transition: all 00.3s ease;
}

#login-form:hover, #signup-form:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

h2{
    color: rgb(187, 103, 103);
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

input{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transform: border-color 0.3s ease;
}

input:focus{
    border-color: rgb(187, 103, 103);
    box-shadow: 0 0 5px rgba(187, 103, 103, 0.5);

}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: rgb(187, 103, 103);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 00.2 ease;
}

button[type="submit"]:hover{
    background-color: rgba(187, 103, 103, 0.8);
    transform: scale(1.02);
}

button[type="submit"]:active{
    transform: scale(0.98);
}

p{
    text-align: center;
    margin-top: 20px;
}

a{
    color: rgb(187, 103, 103);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover{
    color: rgba(187, 103, 103, 0.8);
    text-decoration: underline;
}

@media (max-width: 400px) {
    #login-form, #signup-form {
        width: 90px;
        padding: 20px;
    }
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transition: translateY(0);}
}

#login-form, #signup-form {
    animation: fadeIn 0.5 ease;
}

.signup{
    padding: 40px;
}